@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Pridi:wght@400;500;600;700&display=swap');
body
{
    font-family: 'Aldrich', sans-serif
    margin: 0;
    background-color: #c9eea7;
}
.container
{
    display: flex;
    flex-direction: column;
    margin: 20px;
    max-width: 1500px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.topnav
{
    display: flex;
    background-color: #fcc605;
    height: 50px;
    justify-content:space-evenly; 
    position: fixed; 
    width: 90%;
    max-width: 1500px;
}
.topnav > a
{
    color: #213749;
    text-decoration: none;
    float: right;
    text-align: center;
    font-size: 20px;
    padding: 10px 16px 10px;
}
.topnav > a:hover
{
    color: #cfec77;
    background-color: #174D1B;
}
.main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
}
.heading
{
    font-weight: lighter;
    font-size: 60px;
    color: #cfec77;
    border: 1px solid black;
    background-color: #174D1B;
    text-align: center;
}
.Fstimg
{
    display: flex;
    justify-content: center;
    
}
.fruitVsVeg
{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.para
{
    display: flex;
    flex-direction: row;
    width: 50%;
    text-align:justify;
    
}
.para > h2
{
    text-align: center;
}
.para > h2 > p
{
    font-size: 20px;
    font-weight: 100;
    background-color: #fcc605;
}
.para2nd
{
    display: flex;
    flex-direction: row;
    width: 50%;
    text-align:justify;
}
.para2nd>h2
{
    text-align: center;
}
.para2nd > h2 > p
{
    font-size: 20px;
    font-weight: 100;
    background-color: #56c77a;
    
}
.perfect
{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;  
}
#one
{
    width: 15%;
    text-align: justify;
    font-size: 20px;
}
#two
{
    width: 15%;
    text-align: justify;
    font-size: 20px;
}
#three
{
    width: 15%;
    text-align: justify;
    font-size: 20px;
}
#four
{
    width: 15%;
    text-align: justify;
    font-size: 20px;
}
#five
{
    width: 15%;
    text-align: justify;
    font-size: 20px;
}
#six
{
    width: 15%;
    text-align: justify;
    font-size: 20px;
}
.fruit
{
    display: flex;
    justify-content: center;
}
.fruitHead
{
    font-size: 60px;
    text-align: center;
    word-spacing: 10px;
    
}
#parafruit
{
    font-size: 20px;
    text-align: justify;

}
.parafruitcl
{
    font-size: 20px;
    text-align: justify;
}
.end 
{
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    color: #ebb400;
}
.end:hover
{
    text-decoration: underline;
    color: darkgreen;
    font-weight: bold;
}
@media only screen and (max-width: 500px) {
    .topnav
    {
        display: flex;
        flex-direction: column;
        height: 140px;
    }
    .perfect
    {
        display: flex;
        flex-direction: column;
    }
    img 
    {
        height: 80px;
    }
    .end
    {
        font-size: 20px;
  
    }
  }
